
.example-card {
    /* max-width: 280px; */
    margin: 10px;
    cursor: pointer;
    /* box-shadow: 15px 17px 34px 1px rgba(0,0,0,0.61);
    -webkit-box-shadow: 15px 17px 34px 1px rgba(0,0,0,0.61);
    -moz-box-shadow: 15px 17px 34px 1px rgba(0,0,0,0.61); */
}

.Description{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 100%;
    font-size: 12px;
    text-align: left;
}
.title{
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 100%;
}
.shopIcon:hover{
    color:blue
}

.spinner{
    position:absolute;
    top: 50%;
    left: 50%;
    translate: transform(50%,50%);
}

@media only screen and (min-width: 1000px) {
    .example-card{
        max-width: 250px;
    }
}

@media only screen and (min-width: 800px) {
    .example-card{
        max-width: 220px;
    }
}
@media only screen and (min-width: 400px) {
    .example-card{
        max-width: 280px;
    }
}
